@import "./fonts.scss";
@import "./vars.scss";
@import "./Header.scss";
@import "./Main.scss";
@import "./Login.scss";
@import "./Footer.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

body {
  background: $bg;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  border-radius: 5px;
}

*:hover::-webkit-scrollbar-thumb {
  background: #cccccc;
}

*::-webkit-scrollbar-thumb {
  background-color: #656565;
  border-radius: 5px;
}