.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 0.8rem;
  padding: 0 20px;

  input {
    text-align: center;
  }

  .error {
    font-size: 16px;
    color: $red;
  }

  p {
    font-size: 20px;
    font-weight: bold;
  }
}

